algorithms==0.1
astroid==1.6.5
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.1
beautifulsoup4==4.6.0
bleach==2.1.4
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
Click==7.0
colorama==0.2.7
comtypes==1.1.7
configparser==3.5.0
cx-Freeze==5.1.1
decorator==4.3.0
deviceloader==2.12.22
Django==1.11.20
django-allauth==0.39.1
django-cors-headers==2.5.2
django-rest-framework==0.1.0
djangorestframework==3.9.2
djangorestframework-jwt==1.11.0
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.0.1
Flask==1.0.2
functools32==3.2.3.post2
futures==3.2.0
graphyte==1.5
html5lib==1.0.1
humanfriendly==1.8.1
idna==2.7
influxdb==5.2.1
ipaddress==1.0.22
ipykernel==4.9.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.1
isort==4.3.4
itsdangerous==1.1.0
jdcal==1.4
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
lazy-object-proxy==1.3.1
lockfile==0.9.1
lxml==4.2.3
MarkupSafe==1.0
mccabe==0.6.1
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.6.0
numpy==1.14.5
oauthlib==3.0.1
openpyxl==2.5.4
pandas==0.23.4
pandocfilters==1.4.2
pathlib2==2.3.2
pickleshare==0.7.4
Pillow==5.4.1
plyer==1.3.0
prometheus-client==0.3.1
prompt-toolkit==1.0.15
pycurl==7.43.0.2
Pygments==2.2.0
PyJWT==1.7.1
pylint==1.9.2
PyMySQL==0.9.3
pyperclip==1.6.4
pypiwin32==223
pyserial==2.7
python-dateutil==2.7.3
python-openid==2.2.5
pytz==2018.5
pywin32==223
pywinauto==0.6.6
pywinpty==0.5.4
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.1
requests==2.19.1
requests-oauthlib==1.2.0
scandir==1.9.0
selenium==3.13.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
suds==0.4
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tinydb==3.1.0
tornado==5.1
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wget==3.2
widgetsnbextension==3.4.1
win-unicode-console==0.5
wrapt==1.10.11
wxPython==4.0.4
xmltodict==0.12.0
psysopg2==2.7.1
